.card {
    background-color: rgba(255, 255, 255, 0.786);
    width: 20rem;
    margin: 1rem;
    margin-top: 2.5rem;
    border-radius: 18px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .7s;
    height: 14rem;    
}



.card:hover{
    transform: translateY(-3px);
    
}

.close-btn{
    background-color: #2D3047;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 6px;
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;
    color: #FFF;
    font-weight: 500;
    font-size: 18px;
    padding: 1px;
}

.container-bottom {
    display: flex;
    gap: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 12px;   
    margin-top: 3rem;

}

.temp-min, .temp-max {
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #5c6392;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 100;
    min-width: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.title {
    /* position: absolute; */
    font-size: 40px;
    text-decoration: none;
    color: #2D3047;
    margin-bottom:0 ;
    
}

.card-title {
    text-decoration: none;
}