.city{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    margin-bottom: 1rem;
}

.container-city {
    background-color: #FFF;
    width: 35%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    transition: 1s;
    
}

.container:hover {
    transform: translateY(-3px);
}

.container-temp {
    display: flex;
    gap: 1.5rem;
}

.container-bottom-city {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    margin-top: 0;

}

.title-city{
    position: relative;
    font-size: 28px;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    transition: 1s;
}

.title-city:hover {
    color: #2D3047;
    
}


.temp-exact{
    transition: .2s;
    cursor:default;
}

.temp-exact:hover {
    font-weight: 400;
    color: #2D3047;
    transform: translateY(-1px);
}

.wind-box, .lat-box {
    background-color: #2d3047be;
    color: #FFF;
    font-weight: 700;
    font-size: 14px;
    border-radius: 50%;
    min-width: 9rem;
    min-height: 9rem;
    margin: 1rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0;
    
}